# Supabase
NEXT_PUBLIC_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXZvaWZydXRldnFyb3N1bWp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI5MjYwNiwiZXhwIjoyMDkyODY4NjA2fQ.xjOn82n4fD4uZy4cvysxQ8g_eDPDjsGyLS489pHqxG8
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXZvaWZydXRldnFyb3N1bWp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTI2MDYsImV4cCI6MjA5Mjg2ODYwNn0.XiSEJmmZDflAIAm8M9-Fj141jhGfgXogwH7kAMnAc70
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXZvaWZydXRldnFyb3N1bWp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI5MjYwNiwiZXhwIjoyMDkyODY4NjA2fQ.xjOn82n4fD4uZy4cvysxQ8g_eDPDjsGyLS489pHqxG8

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiYXVzdGluYW5maW5zb24iLCJhIjoiY21sN2c1Y3AwMG92eDNkcHRvYmtvNDYzMCJ9.KVy9n45DHMwjtGQKbd9xgA
